In [221]:
search_company = 'sbilife'

In [222]:
# company search
import requests
import json

headers = headers_dict = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"
}

response = requests.request(
    "GET", 
    url = f"https://www.tijorifinance.com/api/v1/ind/company_search/?q={search_company}", 
    headers=headers
)

search_results = []
slug = ''

if not 200 <= response.status_code < 400:
    print(response.text)
else:
    for item in json.loads(response.text):
        if item['type'] == 'companies':
            search_results.append(
                {
                    'name' : item['name'],
                    'slug' : item['slug']
                }
            )
    if len(search_results) > 1:
        print(json.dumps(search_results, ensure_ascii=False, indent=4))
    elif len(search_results) == 1:
        slug = search_results[0]['slug']
        print("Single slug found and loaded, please skip next cell and proceed")
    else:
        print("No matching company found")

Single slug found and loaded, please skip next cell and proceed

In [189]:
slug = 'anand-rathi-wealth-services-ltd'

In [223]:
# fetch particular company info

headers = headers_dict = {
    "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/129.0.0.0 Safari/537.36"
}

response_overview = requests.request(
    "GET", 
    url = f"https://www.tijorifinance.com/company/{slug}", 
    headers=headers
)

if not 200 <= response_overview.status_code < 400:
    print(response_overview.text)
else:
    print(f"Success fetch overview - response_overview -> https://www.tijorifinance.com/company/{slug}")

response_financials = requests.request(
    "GET", 
    url = f"https://www.tijorifinance.com/company/{slug}/financials/", 
    headers=headers
)

if not 200 <= response_financials.status_code < 400:
    print(response_financials.text)
else:
    print(f"Success fetch financials - response_financials -> https://www.tijorifinance.com/company/{slug}/financials/")

response_benchmarking = requests.request(
    "GET", 
    url = f"https://www.tijorifinance.com/company/{slug}/benchmarking/", 
    headers=headers
)

if not 200 <= response_benchmarking.status_code < 400:
    print(response_benchmarking.text)
else:
    print(f"Success fetch benchamarking - response_benchmarking -> https://www.tijorifinance.com/company/{slug}/benchmarking/")
    
response_shareholding = requests.request(
    "GET", 
    url = f"https://www.tijorifinance.com/company/{slug}/shareholding/", 
    headers=headers
)

if not 200 <= response_shareholding.status_code < 400:
    print(response_shareholding.text)
else:
    print(f"Success fetch shareholding - response_shareholding -> https://www.tijorifinance.com/company/{slug}/shareholding/")

Success fetch overview - response_overview -> https://www.tijorifinance.com/company/sbi-life-insurance-company-limited
Success fetch financials - response_financials -> https://www.tijorifinance.com/company/sbi-life-insurance-company-limited/financials/
Success fetch benchamarking - response_benchmarking -> https://www.tijorifinance.com/company/sbi-life-insurance-company-limited/benchmarking/
Success fetch shareholding - response_shareholding -> https://www.tijorifinance.com/company/sbi-life-insurance-company-limited/shareholding/

In [224]:
# Get about, market cap, pe ratio

soup = BeautifulSoup(response_overview.text, 'html.parser')

data = {}
data['summary'] = soup.find('div', class_='about_desc detailed_desc').text.strip().split('\n')[0].strip()
data['market_cap'] = (int((soup.find('div', string='Market Cap').find_next('div', class_='company_details_value').text).replace('₹', '').replace(' Cr.', '').replace(',', '')) * 10**7 )
data['pe_ratio'] = float(soup.find('div', string='P/E').find_next('div', class_='company_details_value').text)


print(json.dumps(data, ensure_ascii=False, indent=4))

{
    "summary": "SBI Life Insurance Company Limited is a major player in the Indian insurance sector, founded in 2000 as a joint venture between State Bank of India and BNP Paribas Cardif S.A. The company offers a wide range of individual and group life insurance products that cater to diverse customer needs. With a focus on customer service and operational efficiency, SBI Life provides competitive and customer-centric insurance plans in life, health, pension, and micro-insurance segments.",
    "market_cap": 1740340000000,
    "pe_ratio": 85.64
}

In [225]:
# Get all FAQs list

from bs4 import BeautifulSoup
import json

faq_data = []

for html_code in [response_overview, response_financials, response_benchmarking, response_shareholding]:
    soup = BeautifulSoup(html_code.text, 'html.parser')
    
    faq_containers = soup.find_all('div', class_='faq_container')
    
    for container in faq_containers:
        question = container.find('div', class_='faq_data_header').find('span').text.strip()
        answer = container.find('div', class_='faq_answer').find('p').text.strip()
        
        faq_data.append(
            {
                'question': question,
                'answer': answer
            }
        )
    
print(json.dumps(faq_data, ensure_ascii=False, indent=4))

[]

In [231]:
# Get company forensics ( 1 - good, 2 - neutral, 3 - bad, 4 - not calculated )
soup = BeautifulSoup(response_overview.text, 'html.parser')

script_data = soup.find('script', id='company_details_data', type='application/json').text.strip()
forensics_data = json.loads(script_data)
print(forensics_data)
if forensics_data['quick_look']:
    print('No forensics data available')

# Collect the factories
forensics = forensics_data['quick_look']['data'][0]['factories']
forensics.extend(forensics_data['quick_look']['data'][1]['factories'])

forensics = sorted(forensics, key=lambda x: x['flag'], reverse=True)

print(json.dumps(forensics, ensure_ascii=False, indent=4))

{'company': 'SBI Life Insurance Company Ltd.', 'company_id': 5795, 'symbol': 'SBILIFE', 'shortname': 'SBI Life Insuran', 'slug': 'sbi-life-insurance-company-limited', 'ind_code': 143, 'is_banking': False, 'mcap': '₹1,74,034', 'pe': 85.64, 'quick_look': None, 'company_pages': [{'name': 'Overview', 'url': '/company/sbi-life-insurance-company-limited/'}, {'name': 'Financials', 'url': '/company/sbi-life-insurance-company-limited/financials/'}, {'name': 'Benchmarking', 'url': '/company/sbi-life-insurance-company-limited/benchmarking/'}, {'name': 'Shareholding', 'url': '/company/sbi-life-insurance-company-limited/shareholding/'}, {'name': None, 'url': '/sector/None'}], 'metrics': [{'id': 'value', 'name': 'Value'}, {'id': 'ltp', 'name': 'LTP'}, {'id': 'pe', 'name': 'PE Ratio'}, {'id': 'macd', 'name': 'MACD'}, {'id': 'rsi14', 'name': 'RSI14'}, {'id': 'adx', 'name': 'ADX'}, {'id': 'sp_20ema', 'name': 'EMA 20'}, {'id': 'sp_50ema', 'name': 'EMA 50'}, {'id': 'sp_100ema', 'name': 'EMA 100'}, {'id': 'sp_200ema', 'name': 'EMA 200'}, {'id': 'sp_9ema', 'name': 'EMA 9'}, {'id': 'sp_12ema', 'name': 'EMA 12'}, {'id': 'sp_26ema', 'name': 'EMA 26'}, {'id': 'sp_20dma', 'name': 'DMA 20'}, {'id': 'sp_50dma', 'name': 'DMA 50'}, {'id': 'sp_100dma', 'name': 'DMA 100'}, {'id': 'sp_200dma', 'name': 'DMA 200'}, {'id': 'price_book', 'name': 'Price To Book'}, {'id': 'ev_by_ebitda', 'name': 'EV by EBITDA'}, {'id': 'down_from_sp_52w_high', 'name': 'Down from 52 Week High'}, {'id': 'up_from_sp_52w_low', 'name': 'Up from 52 Week High'}, {'id': 'volume', 'name': 'Volume'}, {'id': 'volume_1week_average', 'name': 'Volume 1 Week Average'}, {'id': 'volume_1month_average', 'name': 'Volume 1 Month Average'}, {'id': 'volume_1year_average', 'name': 'Volume 1 Year Average'}]}

TypeError: 'NoneType' object is not subscriptable

In [229]:
# Get peers data as data frame

import pandas as pd
from IPython.display import HTML

def display_scrollable_dataframe(df_pivot):
    html = df_pivot.to_html(classes='table table-bordered', index=False)
    return HTML(f"""
    <div style="height:300px; overflow:auto; border:1px solid lightgrey; padding:5px;">
    {html}
    </div>
    """)

soup = BeautifulSoup(response_overview.text, 'html.parser')

script_data = soup.find('script', id='peers_table_data', type='application/json').text.strip()
peers_data = json.loads(script_data)

df_peers_data = pd.DataFrame(peers_data[1]['data'])

display_scrollable_dataframe(df_peers_data)

In [228]:
# Shareholding data as dataframe

soup = BeautifulSoup(response_shareholding.text, 'html.parser')

all_data = []

for script_tag in soup.find_all('script'):
    js_code = script_tag.string
    if js_code: 
        try:
            if 'var trendData' in js_code or 'var trendData2' in js_code:
                start_index = js_code.index('[') 
                end_index = js_code.rindex(']') + 1

                json_string = js_code[start_index:end_index]
                data = json.loads(json_string.replace("'", '"')) 

                all_data.append(data)
        except Exception as e:
            print(f"Error extracting JSON from script: {e}")

flattened_data = []
for dataset in all_data:
    for entry in dataset:
        name = entry['name']
        for item in entry['data']:
            timestamp = item[0]  # The timestamp
            value = item[1]      # The associated value
            flattened_data.append({'Name': name, 'Timestamp': timestamp, 'Value': value})



df = pd.DataFrame(flattened_data)
df['DateIST'] = pd.to_datetime(df['Timestamp'], unit='ms') + pd.Timedelta(hours=5, minutes=30)
df['DateIST'] = df['DateIST'].dt.strftime('%Y-%m')

df_shareholder_info = df.pivot_table(index='Name', columns='DateIST', values='Value')
df_shareholder_info.reset_index(inplace=True)

display_scrollable_dataframe(df_shareholder_info)